@font-face {
  font-family: 'NHaasGroteskDSW01';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/NeueHaasGroteskDisp-W01.ttf') format('truetype');
}

@font-face {
  font-family: 'NHaasGroteskDSW01';
  font-weight: 700;
  font-style: normal;
  src: url('../assets/fonts/NeueHaasGroteskDisp-W01-Bd.ttf') format('truetype');
}

@font-face {
  font-family: 'NHaasGroteskDSW01';
  font-weight: 400;
  font-style: italic;
  src: url('../assets/fonts/NeueHaasGroteskDisp-W01-lt.ttf') format('truetype');
}
